Repository THipster/THipster, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, gitignore, github_actions, tests, documentation, auth, cli, engine, parser, parser/DSL Parser, repository, terraform

.github/labeler.yml:

# PR labeler configuration file
ci:
- any: ['.github/**/*','!.github/ISSUE_TEMPLATE/*','!.github/PULL_REQUEST_TEMPLATE/*']
- pipelines/**/*
- .pre-commit-config.yaml

gitignore:
- .gitignore

github_actions:
- any: ['.github/**/*','!.github/ISSUE_TEMPLATE/*','!.github/PULL_REQUEST_TEMPLATE/*']

tests:
- any: ['tests/**/*']

documentation:
- docs/**/*
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- LICENSE
- README.md
- .github/ISSUE_TEMPLATE/**/*
- .github/PULL_REQUEST_TEMPLATE/**/*

auth:
- thipster/auth/**/*

cli:
- thipster/cli/**/*

engine:
- thipster/engine/**/*

parser:
- thipster/parser/**/*

parser/DSL Parser:
- thipster/parser/dsl_parser/**/*

repository:
- thipster/repository/**/*

terraform:
- thipster/terraform/**/*

:sparkles: feat: multiple objects as list (#101)
  tests/test_e2e.py
  thipster/parser/YAMLParser.py
  thipster/terraform/CDK.py
Labels: tests, parser, terraform

:green_heart: fix(token): release (#124)
  .github/workflows/release.yml
Labels: ci, github_actions

:green_heart: fix(token): checkout release
  .github/workflows/release.yml
Labels: ci, github_actions

:green_heart: fix(token): checkout release (#125)
  .github/workflows/release.yml
Labels: ci, github_actions

:bookmark: 0.14.0
  CHANGELOG.md
  setup.py
Labels: none

:green_heart: fix(ci): precommit
  pipelines/precommit.py
  pipelines/test.py
Labels: ci

:green_heart: fix(ci): precommit (#127)
  pipelines/precommit.py
  pipelines/test.py
Labels: ci

:memo: fix: Add final open source doc
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: documentation

:bug: fix: add default internal objects
  tests/resources/e2e/inputs/thips/load_balancer.thips
  tests/resources/e2e/models/backend_service.json
  thipster/terraform/CDK.py
Labels: tests, terraform

:white_check_mark: tests: upgrade e2e framework
  tests/test_e2e.py
Labels: tests

:bug: fix: missing dependencies
  tests/resources/e2e/models/bucket_bad_dep_cyclic.json
  tests/test_e2e.py
  thipster/terraform/CDK.py
Labels: tests, terraform

:memo: fix: Add final open source doc (#126)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: documentation

:bug: feat: default internal object (#122)
  tests/resources/e2e/inputs/thips/load_balancer.thips
  tests/resources/e2e/models/backend_service.json
  tests/resources/e2e/models/bucket_bad_dep_cyclic.json
  tests/test_e2e.py
  thipster/terraform/CDK.py
Labels: tests, terraform

:bookmark: 0.14.1
  CHANGELOG.md
  setup.py
Labels: none

:art: fix: comply to pep8 module names
  demo.py
  tests/engine/test_engine.py
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/dsl_parser/test_ast.py
  tests/parser/dsl_parser/test_lexer.py
  tests/parser/dsl_parser/test_token.py
  tests/parser/dsl_parser/test_tokenparser.py
  tests/parser/test_ParserFactory.py
  tests/parser/test_YAMLParser.py
  tests/parser/test_parsedfile.py
  tests/repository/test_github_repository.py
  tests/repository/test_local_repository.py
  tests/repository/test_resourcemodel.py
  tests/test_e2e.py
  thipster/__init__.py
  thipster/auth/google.py
  thipster/engine/engine.py
  thipster/engine/i_auth.py
  thipster/engine/i_parser.py
  thipster/engine/i_repository.py
  thipster/engine/i_terraform.py
  thipster/engine/parsed_file.py
  thipster/engine/resource_model.py
  thipster/parser/dsl_parser/ast.py
  thipster/parser/dsl_parser/exceptions.py
  thipster/parser/dsl_parser/interpreter.py
  thipster/parser/dsl_parser/lexer.py
  thipster/parser/dsl_parser/lexer_position.py
  thipster/parser/dsl_parser/parser.py
  thipster/parser/dsl_parser/token.py
  thipster/parser/dsl_parser/token_parser.py
  thipster/parser/parser_factory.py
  thipster/parser/yaml_parser.py
  thipster/repository/github.py
  thipster/repository/json.py
  thipster/repository/local.py
  thipster/terraform/cdk.py
Labels: tests, auth, engine, parser, parser/DSL Parser, repository, terraform

:art: feat: impoved imports
  demo.py
  pyproject.toml
  tests/engine/test_engine.py
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/dsl_parser/test_ast.py
  tests/parser/dsl_parser/test_lexer.py
  tests/parser/dsl_parser/test_token.py
  tests/parser/dsl_parser/test_tokenparser.py
  tests/parser/test_ParserFactory.py
  tests/parser/test_YAMLParser.py
  tests/repository/test_github_repository.py
  tests/repository/test_local_repository.py
  tests/test_e2e.py
  thipster/__init__.py
  thipster/auth/__init__.py
  thipster/auth/google.py
  thipster/engine/__init__.py
  thipster/engine/engine.py
  thipster/engine/i_parser.py
  thipster/engine/i_repository.py
  thipster/engine/i_terraform.py
  thipster/parser/__init__.py
  thipster/parser/dsl_parser/__init__.py
  thipster/parser/dsl_parser/ast.py
  thipster/parser/dsl_parser/exceptions.py
  thipster/parser/dsl_parser/interpreter.py
  thipster/parser/dsl_parser/lexer.py
  thipster/parser/dsl_parser/parser.py
  thipster/parser/dsl_parser/token.py
  thipster/parser/dsl_parser/token_parser.py
  thipster/parser/parser_factory.py
  thipster/parser/yaml_parser.py
  thipster/repository/__init__.py
  thipster/repository/github.py
  thipster/repository/json.py
  thipster/repository/local.py
  thipster/terraform/__init__.py
  thipster/terraform/cdk.py
  thipster/terraform/exceptions.py
Labels: tests, auth, engine, parser, parser/DSL Parser, repository, terraform

:bookmark: 0.14.2
  CHANGELOG.md
  setup.py
Labels: none

:bookmark: 0.14.3
  CHANGELOG.md
  setup.py
Labels: none

:green_heart: fix: skip ci on release commit
  pyproject.toml
Labels: none

:green_heart: fix: skip ci on release commit (#129) (#130)
  pyproject.toml
Labels: none

Revert ":green_heart: fix: skip ci on release commit (#129) (#130)"
  pyproject.toml
Labels: none

:green_heart: fix: revert skip ci on release commit (#129) (#131)
  pyproject.toml
Labels: none

:bookmark: 0.14.4
  CHANGELOG.md
  setup.py
Labels: none

:green_heart: fix: skip ci on release commit
  pyproject.toml
Labels: none

:recycle: refactor: cdk usage
  tests/repository/test_local_repository.py
  tests/repository/test_resourcemodel.py
  tests/resources/e2e/models/bucket.json
  thipster/engine/resource_model.py
  thipster/terraform/cdk.py
Labels: tests, engine, terraform

:memo: docs: cdk
  thipster/terraform/cdk.py
Labels: terraform

:memo: docs: cdk
  thipster/terraform/cdk.py
Labels: terraform

:recycle: refactor: cdk usage
  tests/repository/test_local_repository.py
  tests/repository/test_resourcemodel.py
  tests/resources/e2e/models/bucket.json
  thipster/engine/resource_model.py
  thipster/terraform/cdk.py
Labels: tests, engine, terraform

:bookmark: 0.14.4 [skip ci]
  .gitignore
  LICENSE
  MANIFEST.in
  pyproject.toml
  requirements.txt
  setup.py
  tests/parser/dsl_parser/test_DSLparser.py
  tests/repository/test_local_repository.py
  tests/resources/e2e/models/backend_service.json
  tests/resources/e2e/models/loadbalancer.json
  tests/resources/e2e/models/target_http_proxy.json
  tests/resources/e2e/models/url_map.json
  tests/test_e2e.py
  thipster/auth/google.py
  thipster/engine/engine.py
  thipster/parser/__init__.py
  thipster/parser/dsl_parser/ast.py
  thipster/parser/dsl_parser/grammar.ebnf
  thipster/parser/dsl_parser/interpreter.py
  thipster/parser/dsl_parser/token_parser.py
  thipster/parser/parser_factory.py
  thipster/parser/yaml_parser.py
  thipster/repository/__init__.py
  thipster/terraform/cdk.py
Labels: gitignore, tests, documentation, auth, engine, parser, parser/DSL Parser, repository, terraform

:recycle: fix: auth, engine, cdk
  thipster/auth/google.py
  thipster/engine/engine.py
  thipster/engine/i_auth.py
  thipster/engine/i_terraform.py
  thipster/terraform/cdk.py
Labels: auth, engine, terraform

:sparkles: feat(repo): Add branch choice
  thipster/repository/github.py
Labels: repository

:memo: feat(auth): Add doc to module
  tests/engine/test_engine.py
  thipster/auth/google.py
  thipster/engine/i_auth.py
Labels: tests, auth, engine

:recycle: feat: Add engine individual methods
  thipster/engine/engine.py
  thipster/helpers.py
  thipster/parser/dsl_parser/lexer.py
  thipster/terraform/cdk.py
Labels: engine, parser, parser/DSL Parser, terraform

:white_check_mark: fix: delete unused
  tests/engine/test_engine.py
Labels: tests

:recycle: feat: Add options for thipster-cli (#133)
  thipster/auth/google.py
  thipster/engine/engine.py
  thipster/engine/i_auth.py
  thipster/engine/i_terraform.py
  thipster/helpers.py
  thipster/parser/dsl_parser/lexer.py
  thipster/repository/github.py
  thipster/terraform/cdk.py
Labels: auth, engine, parser, parser/DSL Parser, repository, terraform

:bookmark: 0.14.5 [skip ci]
  CHANGELOG.md
  setup.py
Labels: none

:sparkles: feat(engine): add tf apply
  thipster/engine/engine.py
Labels: engine

:sparkles: feat(engine): add tf apply (#135)
  thipster/engine/engine.py
Labels: engine

:bookmark: 0.15.0 [skip ci]
  CHANGELOG.md
  setup.py
Labels: none

:green_heart: ci: restore pre-commit-hooks
  .pre-commit-config.yaml
  pipelines/precommit.py
  thipster/auth/google.py
  thipster/helpers.py
Labels: ci, auth
