Repository THipster/THipster, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, gitignore, github_actions, tests, documentation, auth, cli, engine, parser, parser/DSL Parser, repository, terraform

.github/labeler.yml:

# PR labeler configuration file
ci:
- any: ['.github/**/*','!.github/ISSUE_TEMPLATE/*','!.github/PULL_REQUEST_TEMPLATE/*']
- pipelines/**/*
- .pre-commit-config.yaml

gitignore:
- .gitignore

github_actions:
- any: ['.github/**/*','!.github/ISSUE_TEMPLATE/*','!.github/PULL_REQUEST_TEMPLATE/*']

tests:
- any: ['tests/**/*']

documentation:
- docs/**/*
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- LICENSE
- README.md
- .github/ISSUE_TEMPLATE/**/*
- .github/PULL_REQUEST_TEMPLATE/**/*

auth:
- thipster/auth/**/*

cli:
- thipster/cli/**/*

engine:
- thipster/engine/**/*

parser:
- thipster/parser/**/*

parser/DSL Parser:
- thipster/parser/dsl_parser/**/*

repository:
- thipster/repository/**/*

terraform:
- thipster/terraform/**/*

:green_heart: ci: restore pre-commit-hooks (#139)
  .pre-commit-config.yaml
  pipelines/precommit.py
  thipster/auth/google.py
  thipster/helpers.py
Labels: ci, auth

:sparkles: feat: deps inherit from parent attrs
  tests/resources/e2e/models/bucket_bad_dep_child.json
  tests/test_e2e.py
  thipster/engine/resource_model.py
  thipster/terraform/cdk.py
Labels: tests, engine, terraform

:sparkles: feat: dependencies inheritance from parent attributes (#138)
  tests/resources/e2e/models/bucket_bad_dep_child.json
  tests/test_e2e.py
  thipster/engine/resource_model.py
  thipster/terraform/cdk.py
Labels: tests, engine, terraform

:bookmark: 0.16.0 [skip ci]
  CHANGELOG.md
  setup.py
Labels: none

:zap: fix: improve package imports
  pipelines/test.py
  requirements.txt
  setup.py
  thipster/parser/parser_factory.py
  thipster/terraform/cdk.py
Labels: ci, parser, terraform

:memo: docs: update README.md
  README.md
Labels: documentation

:zap: fix: improve package imports (#141)
  README.md
  pipelines/test.py
  requirements.txt
  setup.py
  thipster/parser/parser_factory.py
  thipster/terraform/cdk.py
Labels: ci, documentation, parser, terraform

:bookmark: 0.16.1 [skip ci]
  CHANGELOG.md
  setup.py
Labels: none

:goal_net: feat: improve exception generation
  demo.py
  tests/parser/dsl_parser/test_DSLparser.py
  thipster/engine/__init__.py
  thipster/engine/exceptions.py
  thipster/parser/dsl_parser/exceptions.py
  thipster/parser/dsl_parser/interpreter.py
  thipster/parser/dsl_parser/token_parser.py
  thipster/parser/parser_factory.py
  thipster/parser/yaml_parser.py
  thipster/terraform/exceptions.py
Labels: tests, engine, parser, parser/DSL Parser, terraform

:goal_net: feat: improve exception generation (#142)
  demo.py
  tests/parser/dsl_parser/test_DSLparser.py
  thipster/engine/__init__.py
  thipster/engine/exceptions.py
  thipster/parser/dsl_parser/exceptions.py
  thipster/parser/dsl_parser/interpreter.py
  thipster/parser/dsl_parser/token_parser.py
  thipster/parser/parser_factory.py
  thipster/parser/yaml_parser.py
  thipster/terraform/exceptions.py
Labels: tests, engine, parser, parser/DSL Parser, terraform

:bookmark: 0.16.2 [skip ci]
  CHANGELOG.md
  setup.py
Labels: none

:coffin: fix: clean engine output
  tests/engine/test_engine.py
  tests/test_e2e.py
  thipster/engine/engine.py
Labels: tests, engine

:memo: docs: update README.md
  README.md
Labels: documentation

:coffin: fix: clean engine output (#143)
  README.md
  tests/engine/test_engine.py
  tests/test_e2e.py
  thipster/engine/engine.py
Labels: tests, documentation, engine

:bookmark: 0.16.3 [skip ci]
  CHANGELOG.md
  setup.py
Labels: none

:bookmark: 0.16.4 [skip ci]
  CHANGELOG.md
  setup.py
Labels: none

:construction_worker: feat: Add codeql workflow
  .github/workflows/codeql.yml
  SECURITY.md
Labels: ci, github_actions

:green_heart: fix: Update schedule
  .github/workflows/codeql.yml
Labels: ci, github_actions

:construction_worker: feat(ci): Add codeql workflow (#144)
  .github/workflows/codeql.yml
  SECURITY.md
Labels: ci, github_actions

:wrench: fix: fix extra-requirements versions
  setup.py
Labels: none

:white_check_mark: tests: move e2e_tests runtime
  tests/test_e2e.py
Labels: tests

:white_check_mark: feat: tftest
  setup.py
  tests/engine/test_generation.py
  tests/resources/e2e/models/bucket.json
  tests/resources/e2e/models/global_address.json
  tests/test_e2e.py
  tests/test_tools.py
Labels: tests

:green_heart: fix: pass google credentials to e2e
  .github/workflows/pr-handler.yml
  pipelines/test.py
  tests/engine/test_generation.py
  tests/test_e2e.py
  tests/test_tools.py
  thipster/auth/google.py
Labels: ci, github_actions, tests, auth

:wrench: fix: test config
  pipelines/test.py
  setup.py
Labels: ci

✅ feat(tests): tftest (#145)
  .github/workflows/pr-handler.yml
  pipelines/test.py
  setup.py
  tests/engine/test_generation.py
  tests/resources/e2e/models/bucket.json
  tests/resources/e2e/models/global_address.json
  tests/test_e2e.py
  tests/test_tools.py
  thipster/auth/google.py
Labels: ci, github_actions, tests, auth

:lock: fix: jinja auto-escape
  thipster/parser/yaml_parser.py
Labels: parser

:art: fix: class methods
  tests/test_tools.py
  thipster/auth/google.py
  thipster/engine/i_parser.py
  thipster/parser/dsl_parser/parser.py
  thipster/parser/parser_factory.py
  thipster/parser/yaml_parser.py
  thipster/terraform/cdk.py
Labels: tests, auth, engine, parser, parser/DSL Parser, terraform

:fire: fix: unused local variable
  thipster/terraform/cdk.py
Labels: terraform

:fire: fix: always close files
  tests/engine/test_engine.py
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/test_ParserFactory.py
  tests/parser/test_YAMLParser.py
  tests/repository/test_local_repository.py
  tests/test_tools.py
Labels: tests

:art: fix: remove useless lambdas
  tests/parser/dsl_parser/test_DSLparser.py
  thipster/engine/i_terraform.py
  thipster/parser/dsl_parser/ast.py
  thipster/parser/dsl_parser/exceptions.py
  thipster/terraform/cdk.py
Labels: tests, engine, parser, parser/DSL Parser, terraform

:art: fix: improve dsl's ast code
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/dsl_parser/test_ast.py
  tests/parser/dsl_parser/test_token.py
  thipster/parser/dsl_parser/ast.py
  thipster/parser/dsl_parser/exceptions.py
  thipster/parser/dsl_parser/interpreter.py
  thipster/parser/dsl_parser/parser.py
  thipster/parser/dsl_parser/token.py
  thipster/parser/dsl_parser/token_parser.py
Labels: tests, parser, parser/DSL Parser

:lock: fix: codeql fixes (#148)
  tests/engine/test_engine.py
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/test_ParserFactory.py
  tests/parser/test_YAMLParser.py
  tests/repository/test_local_repository.py
  tests/test_tools.py
  thipster/auth/google.py
  thipster/engine/i_parser.py
  thipster/engine/i_terraform.py
  thipster/parser/dsl_parser/ast.py
  thipster/parser/dsl_parser/exceptions.py
  thipster/parser/dsl_parser/parser.py
  thipster/parser/parser_factory.py
  thipster/parser/yaml_parser.py
  thipster/terraform/cdk.py
Labels: tests, auth, engine, parser, parser/DSL Parser, terraform

:bookmark: 0.16.5 [skip ci]
  CHANGELOG.md
  setup.py
Labels: none

:art: improve pf and rm classes codes
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/dsl_parser/test_token.py
  tests/parser/test_ParserFactory.py
  tests/parser/test_YAMLParser.py
  tests/parser/test_parsedfile.py
  tests/repository/test_github_repository.py
  tests/repository/test_local_repository.py
  tests/repository/test_resourcemodel.py
  tests/test_e2e.py
  thipster/engine/engine.py
  thipster/engine/parsed_file.py
  thipster/engine/resource_model.py
  thipster/parser/dsl_parser/token_parser.py
  thipster/repository/json.py
  thipster/terraform/cdk.py
Labels: tests, engine, parser, parser/DSL Parser, repository, terraform

:art: fix: improve classes code (#149)
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/dsl_parser/test_ast.py
  tests/parser/dsl_parser/test_token.py
  tests/parser/test_ParserFactory.py
  tests/parser/test_YAMLParser.py
  tests/parser/test_parsedfile.py
  tests/repository/test_github_repository.py
  tests/repository/test_local_repository.py
  tests/repository/test_resourcemodel.py
  tests/test_e2e.py
  thipster/engine/engine.py
  thipster/engine/parsed_file.py
  thipster/engine/resource_model.py
  thipster/parser/dsl_parser/ast.py
  thipster/parser/dsl_parser/exceptions.py
  thipster/parser/dsl_parser/interpreter.py
  thipster/parser/dsl_parser/parser.py
  thipster/parser/dsl_parser/token.py
  thipster/parser/dsl_parser/token_parser.py
  thipster/repository/json.py
  thipster/terraform/cdk.py
Labels: tests, engine, parser, parser/DSL Parser, repository, terraform

:goal_net: fix: catch file not found on models
  tests/repository/test_github_repository.py
  tests/repository/test_local_repository.py
  thipster/auth/google.py
  thipster/repository/exceptions.py
  thipster/repository/github.py
  thipster/repository/local.py
Labels: tests, auth, repository

:goal_net: fix: catch file not found on models (#150)
  tests/repository/test_github_repository.py
  tests/repository/test_local_repository.py
  thipster/auth/google.py
  thipster/repository/exceptions.py
  thipster/repository/github.py
  thipster/repository/local.py
Labels: tests, auth, repository

:bookmark: 0.16.6 [skip ci]
  CHANGELOG.md
  setup.py
Labels: none

:memo: fix: Add doc issue
  .github/ISSUE_TEMPLATE/doc_update.yml
Labels: documentation

:memo: fix: Update project doc & readme
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  CONTRIBUTING.md
  README.md
  setup.py
Labels: documentation
