Repository THipster/THipster, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, github_actions, tests, documentation

✨ feat: add parsed file
  .gitignore
  pyproject.toml
  setup.py
  tests/engine/__init__.py
  tests/engine/engine_test.py
  tests/parser/__init__.py
  tests/parser/parsedfile_test.py
  tests/test_test.py
  thipster/engine/Engine.py
  thipster/engine/I_Auth.py
  thipster/engine/I_Parser.py
  thipster/engine/I_Repository.py
  thipster/engine/I_Terraform.py
  thipster/engine/ParsedFile.py
Labels: ci, tests

✨ feat: add resource model
  .pre-commit-config.yaml
  tests/engine/test_engine.py
  tests/parser/parsedfile_test.py
  tests/parser/test_parsedfile.py
  tests/repository/test_resourcemodel.py
  thipster/engine/ResourceModel.py
  thipster/repository/__init__.py
Labels: ci

✅ feat: update engine test
  tests/engine/test_engine.py
  thipster/engine/Engine.py
  thipster/engine/I_Repository.py
Labels: none

✅ feat: update engine test
  tests/engine/test_engine.py
  thipster/engine/Engine.py
  thipster/engine/I_Repository.py
Labels: none

✨ feat: add resource model
  .pre-commit-config.yaml
  tests/engine/test_engine.py
  tests/parser/parsedfile_test.py
  tests/parser/test_parsedfile.py
  tests/repository/test_resourcemodel.py
  thipster/engine/ResourceModel.py
  thipster/repository/__init__.py
Labels: ci

✨ feat: add parsed file
  .gitignore
  pyproject.toml
  setup.py
  tests/engine/__init__.py
  tests/engine/engine_test.py
  tests/parser/__init__.py
  tests/parser/parsedfile_test.py
  tests/test_test.py
  thipster/engine/Engine.py
  thipster/engine/I_Auth.py
  thipster/engine/I_Parser.py
  thipster/engine/I_Repository.py
  thipster/engine/I_Terraform.py
  thipster/engine/ParsedFile.py
Labels: ci, tests

✅ feat(parser): Add Token class
  tests/parser/dsl_parser/__init__.py
  tests/parser/dsl_parser/test_lexer.py
  tests/parser/dsl_parser/test_token.py
  thipster/parser/dsl_parser/Lexer.py
  thipster/parser/dsl_parser/Token.py
  thipster/parser/dsl_parser/__init__.py
Labels: none

💩 feat: add DSLParser strycture
  thipster/parser/dsl_parser/DSLParser.py
Labels: none

✅ fix(parser): Add Token test
  tests/parser/dsl_parser/test_token.py
Labels: none

✅ fix(parser): Add file name in position
  tests/parser/test_parsedfile.py
  thipster/engine/ParsedFile.py
Labels: none

✨ feat: add file reader in parser
  tests/parser/dsl_parser/test_DSLparser.py
  thipster/parser/dsl_parser/DSLParser.py
Labels: none

✅ fix: exception tests
  tests/engine/test_engine.py
  tests/parser/dsl_parser/test_DSLparser.py
  thipster/parser/dsl_parser/DSLParser.py
Labels: none

✨ feat(parser): Add lexer
  tests/parser/dsl_parser/test_lexer.py
  thipster/engine/ParsedFile.py
  thipster/parser/dsl_parser/Lexer.py
  thipster/parser/dsl_parser/Token.py
Labels: none

✅ fix(parser): Add token test
  tests/parser/dsl_parser/test_token.py
Labels: none

.github/labeler.yml:

# Add 'ci' label to any changes in the '.github', 'ci' folders & '.pre-commit-config.yaml', '.gitignore' files
ci:
- any: ['.github/*','!.github/ISSUE_TEMPLATE/*','!.github/PULL_REQUEST_TEMPLATE/*']
- pipelines/*
- .pre-commit-config.yaml
- .gitignore

github_actions:
- any: ['.github/*','!.github/ISSUE_TEMPLATE/*','!.github/PULL_REQUEST_TEMPLATE/*']

# Add 'tests' label to any changes in the 'tests' folder
tests:
- any: ['tests/*']

# Add 'docs' label to any changes in the 'docs' folder & 'CODE_OF_CONDUCT.md','CONTRIBUTING.md','LICENSE','README.md' files
documentation:
- docs/*
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- LICENSE
- README.md
- .github/ISSUE_TEMPLATE/*
- .github/PULL_REQUEST_TEMPLATE/*
