Repository THipster/THipster, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, gitignore, github_actions, tests, documentation, auth, cli, engine, parser, parser/DSL Parser, repository, terraform

.github/labeler.yml:

# PR labeler configuration file
ci:
- any: ['.github/**/*','!.github/ISSUE_TEMPLATE/*','!.github/PULL_REQUEST_TEMPLATE/*']
- pipelines/**/*
- .pre-commit-config.yaml

gitignore:
- .gitignore

github_actions:
- any: ['.github/**/*','!.github/ISSUE_TEMPLATE/*','!.github/PULL_REQUEST_TEMPLATE/*']

tests:
- any: ['tests/**/*']

documentation:
- docs/**/*
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- LICENSE
- README.md
- .github/ISSUE_TEMPLATE/**/*
- .github/PULL_REQUEST_TEMPLATE/**/*

auth:
- thipster/auth/**/*

cli:
- thipster/cli/**/*

engine:
- thipster/engine/**/*

parser:
- thipster/parser/**/*

parser/DSL Parser:
- thipster/parser/dsl_parser/**/*

repository:
- thipster/repository/**/*

terraform:
- thipster/terraform/**/*

:green_heart: feat(ci): use cache in pr handler
  .github/workflows/pr-handler.yml
  pipelines/base.py
  pipelines/pre-commit.py
  pipelines/precommit.py
  pipelines/prhandler.py
  pipelines/test.py
  setup.py
Labels: ci, github_actions

:green_heart: feat(ci): use cache in pr handler (#96)
  .github/workflows/pr-handler.yml
  pipelines/base.py
  pipelines/pre-commit.py
  pipelines/precommit.py
  pipelines/prhandler.py
  pipelines/test.py
  setup.py
Labels: ci, github_actions

0.10.4
  CHANGELOG.md
  setup.py
Labels: none

:bug: fix: cyclic dependencies in JSONRepo
  tests/repository/test_local_repository.py
  thipster/repository/JSONRepo.py
Labels: tests, repository

:bug: fix(cdk): Add internal objetcs support
  tests/repository/test_resourcemodel.py
  tests/resources/e2e/models/firewall.json
  tests/resources/e2e/models/firewall_allow.json
  tests/resources/e2e/models/internal_obj_test_child.json
  tests/test_e2e.py
  thipster/engine/ResourceModel.py
  thipster/repository/JSONRepo.py
  thipster/terraform/CDK.py
Labels: tests, engine, repository, terraform

:label: fix(cdk): Update types
  thipster/engine/ResourceModel.py
  thipster/repository/JSONRepo.py
Labels: engine, repository

:white_check_mark: fix: Update tests
  tests/repository/test_github_repository.py
  tests/resources/e2e/models/bucket.json
  tests/resources/e2e/models/bucket_bad_dep_cyclic.json
  tests/resources/e2e/models/bucket_dep_child.json
  tests/resources/e2e/models/bucket_dep_parent.json
  tests/resources/e2e/models/internal_obj_test_child.json
  tests/resources/e2e/models/internal_obj_test_parent.json
  tests/test_e2e.py
Labels: tests

:art: fix(cdk): Delete code duplicate
  thipster/terraform/CDK.py
Labels: terraform

:poop: feat: internalObj
  tests/resources/e2e/models/backend_service.json
  tests/resources/e2e/models/internal_obj_test_child.json
  tests/resources/e2e/models/internal_obj_test_parent.json
  tests/test_e2e.py
  thipster/engine/ResourceModel.py
  thipster/repository/JSONRepo.py
  thipster/terraform/CDK.py
Labels: tests, engine, repository, terraform

:white_check_mark: fix(models): Update tests
  tests/repository/test_resourcemodel.py
Labels: tests

:sparkles: feat: move CDK + add dependencies
  tests/engine/test_engine.py
  tests/test_e2e.py
  thipster/demo.py
  thipster/engine/Engine.py
  thipster/engine/I_Terraform.py
  thipster/terraform/CDK.py
Labels: tests, engine, terraform

:bug: fix(cdk): Add support for list attributes
  tests/resources/e2e/models/bucket.json
  tests/resources/e2e/models/bucket_cors.json
  tests/test_e2e.py
  thipster/engine/ResourceModel.py
  thipster/repository/JSONRepo.py
  thipster/terraform/CDK.py
Labels: tests, engine, repository, terraform

:boom: feat: new model struct
  tests/test_e2e.py
  thipster/engine/ResourceModel.py
  thipster/repository/JSONRepo.py
  thipster/terraform/CDK.py
Labels: tests, engine, repository, terraform

:test_tube: fix(tests): Add models
  tests/repository/test_local_repository.py
  tests/resources/create_buckets.thips
  tests/resources/demo.thips
  tests/resources/e2e/inputs/thips/bucket.thips
  tests/resources/e2e/inputs/thips/bucket_dep.thips
  tests/resources/e2e/inputs/thips/load_balancer.thips
  tests/resources/e2e/inputs/yaml/.gitkeep
  tests/resources/e2e/models/backend.json
  tests/resources/e2e/models/backend_service.json
  tests/resources/e2e/models/bucket.json
  tests/resources/e2e/models/bucket_bad_dep_child.json
  tests/resources/e2e/models/bucket_bad_dep_child_cyclic.json
  tests/resources/e2e/models/bucket_bad_dep_cyclic.json
  tests/resources/e2e/models/bucket_bad_dep_parent.json
  tests/resources/e2e/models/bucket_dep_child.json
  tests/resources/e2e/models/bucket_dep_parent.json
  tests/resources/e2e/models/firewall.json
  tests/resources/e2e/models/firewall_allow.json
  tests/resources/e2e/models/global_address.json
  tests/resources/e2e/models/health_check.json
  tests/resources/e2e/models/instance_group.json
  tests/resources/e2e/models/instance_group_manager.json
  tests/resources/e2e/models/instance_template.json
  tests/resources/e2e/models/loadbalancer.json
  tests/resources/e2e/models/network.json
  tests/resources/e2e/models/subnetwork.json
  tests/resources/e2e/models/target_http_proxy.json
  tests/resources/e2e/models/url_map.json
  tests/test_e2e.py
Labels: tests

:sparkles: feat: tf plan
  .gitignore
  requirements.txt
  thipster/cli/__init__.py
  thipster/engine/Engine.py
  thipster/engine/I_Terraform.py
  thipster/main.py
  thipster/terraform/CDK.py
Labels: gitignore, cli, engine, terraform

Revert "0.10.4"
  CHANGELOG.md
  setup.py
Labels: none

:bug: fix(cdk): Fix internal object
  tests/engine/test_engine.py
  tests/repository/test_local_repository.py
  tests/resources/e2e/models/bucket.json
  tests/resources/e2e/models/bucket_cors.json
  tests/resources/e2e/models/firewall.json
  tests/test_e2e.py
  thipster/engine/Engine.py
  thipster/repository/JSONRepo.py
  thipster/terraform/CDK.py
Labels: tests, engine, repository, terraform

:sparkles: feat: save tfplan
  .gitignore
  tests/resources/e2e/models/bucket.json
  thipster/terraform/CDK.py
Labels: gitignore, tests, terraform

:bug: fix: add explicit dependencies
  thipster/demo.py
  thipster/engine/Engine.py
  thipster/terraform/CDK.py
Labels: engine, terraform

:art: feat: improve code readablility
  thipster/terraform/CDK.py
Labels: terraform

:art: feat(parser): refactor tokentypes
  tests/parser/dsl_parser/test_lexer.py
  tests/parser/dsl_parser/test_token.py
  tests/parser/dsl_parser/test_tokenparser.py
  thipster/parser/dsl_parser/Lexer.py
  thipster/parser/dsl_parser/Token.py
  thipster/parser/dsl_parser/TokenParser.py
  thipster/parser/dsl_parser/grammar.ebnf
Labels: tests, parser, parser/DSL Parser

:sparkles: feat(parser): Add tokens and, or, \
  tests/parser/dsl_parser/test_lexer.py
  thipster/parser/dsl_parser/Lexer.py
  thipster/parser/dsl_parser/LexerPosition.py
  thipster/parser/dsl_parser/Token.py
Labels: tests, parser, parser/DSL Parser

:bug: fix(dsl): better arithmetic expressions
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/dsl_parser/test_lexer.py
  tests/parser/dsl_parser/test_tokenparser.py
  thipster/parser/dsl_parser/Interpreter.py
  thipster/parser/dsl_parser/Lexer.py
  thipster/parser/dsl_parser/TokenParser.py
  thipster/parser/dsl_parser/grammar.ebnf
Labels: tests, parser, parser/DSL Parser

:sparkles: fear(parser): whitespace token
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/dsl_parser/test_lexer.py
  thipster/parser/dsl_parser/Lexer.py
  thipster/parser/dsl_parser/LexerPosition.py
  thipster/parser/dsl_parser/TokenParser.py
Labels: tests, parser, parser/DSL Parser

:sparkles: feat(parser): add bracket lists support
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/dsl_parser/test_lexer.py
  thipster/parser/dsl_parser/Lexer.py
  thipster/parser/dsl_parser/Token.py
  thipster/parser/dsl_parser/TokenParser.py
Labels: tests, parser, parser/DSL Parser

:sparkles: feat(dsl): handle single quotes
  tests/parser/dsl_parser/test_lexer.py
  thipster/parser/dsl_parser/Lexer.py
  thipster/parser/dsl_parser/LexerPosition.py
Labels: tests, parser, parser/DSL Parser

:bug: fix(dsl): comparison operations
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/dsl_parser/test_lexer.py
  thipster/parser/dsl_parser/Interpreter.py
  thipster/parser/dsl_parser/Lexer.py
  thipster/parser/dsl_parser/Token.py
  thipster/parser/dsl_parser/TokenParser.py
Labels: tests, parser, parser/DSL Parser

:sparkles: feat(dsl): add math and conditions
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/dsl_parser/test_ast.py
  tests/parser/dsl_parser/test_lexer.py
  tests/parser/dsl_parser/test_tokenparser.py
  thipster/parser/dsl_parser/AST.py
  thipster/parser/dsl_parser/DSLParser.py
  thipster/parser/dsl_parser/Interpreter.py
  thipster/parser/dsl_parser/Lexer.py
  thipster/parser/dsl_parser/Token.py
  thipster/parser/dsl_parser/TokenParser.py
  thipster/parser/dsl_parser/grammar.ebnf
Labels: tests, parser, parser/DSL Parser

:white_check_mark: fix: pass cors test
  .gitignore
  setup.py
  tests/test_e2e.py
Labels: gitignore, tests

:sparkles: feat: upgrade DSL (#98)
  .gitignore
  setup.py
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/dsl_parser/test_ast.py
  tests/parser/dsl_parser/test_lexer.py
  tests/parser/dsl_parser/test_token.py
  tests/parser/dsl_parser/test_tokenparser.py
  tests/test_e2e.py
  thipster/parser/dsl_parser/AST.py
  thipster/parser/dsl_parser/DSLParser.py
  thipster/parser/dsl_parser/Interpreter.py
  thipster/parser/dsl_parser/Lexer.py
  thipster/parser/dsl_parser/LexerPosition.py
  thipster/parser/dsl_parser/Token.py
  thipster/parser/dsl_parser/TokenParser.py
  thipster/parser/dsl_parser/grammar.ebnf
Labels: gitignore, tests, parser, parser/DSL Parser

0.11.0
  CHANGELOG.md
  setup.py
Labels: none

:bug: fix(demo): handle all errors in demo script (#87)
  thipster/demo.py
Labels: none

:bug: fix(demo): handle all errors in demo script (#87) (#104)
  thipster/demo.py
Labels: none

0.11.1
  CHANGELOG.md
  setup.py
Labels: none

0.11.2
  CHANGELOG.md
  setup.py
Labels: none

0.11.3
  CHANGELOG.md
  setup.py
Labels: none

:sparkles: feat: auth to gcp via envvar
  demo.py
  tests/engine/test_engine.py
  tests/test_e2e.py
  thipster/auth/Google.py
  thipster/engine/Engine.py
  thipster/engine/I_Auth.py
  thipster/parser/dsl_parser/grammar.ebnf
  thipster/terraform/CDK.py
Labels: tests, auth, engine, parser, parser/DSL Parser, terraform

:sparkles: test
  MANIFEST.in
  pyproject.toml
  thipster/demo.py
Labels: none

0.12.0
  CHANGELOG.md
  setup.py
Labels: none

:construction_worker: feat: update release
  .github/workflows/release.yml
  pyproject.toml
Labels: ci, github_actions
