Repository THipster/THipster, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, gitignore, github_actions, tests, documentation, auth, cli, engine, parser, parser/DSL Parser, repository, terraform

:wrench: feat: update release (#108)
  .github/workflows/release.yml
  pyproject.toml
Labels: ci, github_actions

:bookmark: 0.12.1
  CHANGELOG.md
  setup.py
Labels: none

:bookmark: 0.12.2
  CHANGELOG.md
  setup.py
Labels: none

:sparkles: feat: auth to gcp via envvar (#107)
  demo.py
  tests/engine/test_engine.py
  tests/test_e2e.py
  thipster/auth/Google.py
  thipster/engine/Engine.py
  thipster/engine/I_Auth.py
  thipster/parser/dsl_parser/grammar.ebnf
  thipster/terraform/CDK.py
Labels: tests, auth, engine, parser, parser/DSL Parser, terraform

:bookmark: 0.13.0
  CHANGELOG.md
  setup.py
Labels: none

:construction_worker: fix: build system
  demo.py
  pyproject.toml
  setup.py
  tests/engine/test_engine.py
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/dsl_parser/test_ast.py
  tests/parser/dsl_parser/test_lexer.py
  tests/parser/dsl_parser/test_token.py
  tests/parser/dsl_parser/test_tokenparser.py
  tests/parser/test_ParserFactory.py
  tests/parser/test_YAMLParser.py
  tests/parser/test_parsedfile.py
  tests/repository/test_github_repository.py
  tests/repository/test_local_repository.py
  tests/repository/test_resourcemodel.py
  tests/test_e2e.py
  thipster/auth/Google.py
  thipster/engine/Engine.py
  thipster/engine/I_Parser.py
  thipster/engine/I_Repository.py
  thipster/engine/I_Terraform.py
  thipster/parser/ParserFactory.py
  thipster/parser/YAMLParser.py
  thipster/parser/dsl_parser/AST.py
  thipster/parser/dsl_parser/DSLParser.py
  thipster/parser/dsl_parser/Interpreter.py
  thipster/parser/dsl_parser/Lexer.py
  thipster/parser/dsl_parser/LexerPosition.py
  thipster/parser/dsl_parser/Token.py
  thipster/parser/dsl_parser/TokenParser.py
  thipster/repository/GithubRepo.py
  thipster/repository/JSONRepo.py
  thipster/repository/LocalRepo.py
  thipster/terraform/CDK.py
Labels: tests, auth, engine, parser, parser/DSL Parser, repository, terraform

:bug: fix: build system (#109)
  demo.py
  pyproject.toml
  setup.py
  tests/engine/test_engine.py
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/dsl_parser/test_ast.py
  tests/parser/dsl_parser/test_lexer.py
  tests/parser/dsl_parser/test_token.py
  tests/parser/dsl_parser/test_tokenparser.py
  tests/parser/test_ParserFactory.py
  tests/parser/test_YAMLParser.py
  tests/parser/test_parsedfile.py
  tests/repository/test_github_repository.py
  tests/repository/test_local_repository.py
  tests/repository/test_resourcemodel.py
  tests/test_e2e.py
  thipster/auth/Google.py
  thipster/engine/Engine.py
  thipster/engine/I_Parser.py
  thipster/engine/I_Repository.py
  thipster/engine/I_Terraform.py
  thipster/parser/ParserFactory.py
  thipster/parser/YAMLParser.py
  thipster/parser/dsl_parser/AST.py
  thipster/parser/dsl_parser/DSLParser.py
  thipster/parser/dsl_parser/Interpreter.py
  thipster/parser/dsl_parser/Lexer.py
  thipster/parser/dsl_parser/LexerPosition.py
  thipster/parser/dsl_parser/Token.py
  thipster/parser/dsl_parser/TokenParser.py
  thipster/repository/GithubRepo.py
  thipster/repository/JSONRepo.py
  thipster/repository/LocalRepo.py
  thipster/terraform/CDK.py
Labels: tests, auth, engine, parser, parser/DSL Parser, repository, terraform

:bookmark: 0.13.1
  CHANGELOG.md
  setup.py
Labels: none

:wrench: feat: update build config
  pyproject.toml
  setup.py
Labels: none

:construction_worker: fix: build description
  pyproject.toml
  setup.py
Labels: none

:wrench: feat: update build config (#110)
  pyproject.toml
  setup.py
Labels: none

:bookmark: 0.13.2
  CHANGELOG.md
  setup.py
Labels: none

:lock: feat: google adc
  pipelines/test.py
  requirements.txt
  tests/test_e2e.py
  thipster/auth/Google.py
Labels: ci, tests, auth

:lock: feat: google adc (#111)
  pipelines/test.py
  requirements.txt
  tests/test_e2e.py
  thipster/auth/Google.py
Labels: ci, tests, auth

:bookmark: 0.13.3
  CHANGELOG.md
  setup.py
Labels: none

:bug: fix: allow empty resource (#103)
  tests/test_e2e.py
  thipster/parser/dsl_parser/TokenParser.py
Labels: tests, parser, parser/DSL Parser

:bug: fix: allow empty resource (#103) (#112)
  tests/test_e2e.py
  thipster/parser/dsl_parser/TokenParser.py
Labels: tests, parser, parser/DSL Parser

:bookmark: 0.13.4
  CHANGELOG.md
  setup.py
Labels: none

:bug: fix(engine): Change run output
  tests/engine/test_engine.py
  tests/test_e2e.py
  thipster/engine/Engine.py
Labels: tests, engine

:memo: fix(init): Change doc for init
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .gitignore
  .vscode/extensions.json
  README.md
  scripts/init-dev.sh
  scripts/test-cov-html.sh
  scripts/test.sh
Labels: gitignore, documentation

:bug: fix: yaml lists (#100)
  tests/parser/test_YAMLParser.py
  thipster/parser/YAMLParser.py
Labels: tests, parser

:bookmark: 0.13.5
  CHANGELOG.md
  setup.py
Labels: none

:bug: fix: yaml lists (#100) (#113)
  tests/parser/test_YAMLParser.py
  thipster/parser/YAMLParser.py
Labels: tests, parser

:bookmark: 0.13.6
  CHANGELOG.md
  setup.py
Labels: none

:green_heart: fix: restore pre-commit config
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
  MANIFEST.in
  pipelines/test.py
  requirements.txt
  setup.py
  tests/parser/dsl_parser/test_DSLparser.py
  tests/repository/test_local_repository.py
  tests/resources/e2e/models/backend_service.json
  tests/resources/e2e/models/bucket.json
  tests/resources/e2e/models/loadbalancer.json
  tests/resources/e2e/models/target_http_proxy.json
  tests/resources/e2e/models/url_map.json
  tests/test_e2e.py
  thipster/auth/Google.py
  thipster/engine/Engine.py
  thipster/parser/ParserFactory.py
  thipster/parser/YAMLParser.py
  thipster/parser/dsl_parser/AST.py
  thipster/parser/dsl_parser/Interpreter.py
  thipster/parser/dsl_parser/TokenParser.py
  thipster/parser/dsl_parser/grammar.ebnf
  thipster/terraform/CDK.py
Labels: ci, gitignore, github_actions, tests, auth, engine, parser, parser/DSL Parser, terraform

:memo: fix(doc): Fix README.md
  README.md
Labels: documentation

:memo: fix(pypi): Fix package description
  setup.py
Labels: none

:memo: Add license, change script
  LICENSE
  README.md
  scripts/init-dev.sh
  scripts/test-cov-html.sh
  scripts/test.sh
Labels: documentation

📝 feat(doc): Add open source doc (#116)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .gitignore
  .vscode/extensions.json
  LICENSE
  README.md
  setup.py
Labels: gitignore, documentation

:white_check_mark: feat: improve e2e
  tests/test_e2e.py
Labels: tests

:white_check_mark: feat: improve e2e (#120)
  tests/test_e2e.py
Labels: tests

:memo: feat(readthedocs): Add initial conf
  .readthedocs.yaml
  setup.py
Labels: none

:memo: fix(docstring): Duplicates
  thipster/__init__.py
  thipster/auth/Google.py
  thipster/auth/__init__.py
  thipster/engine/Engine.py
  thipster/engine/I_Parser.py
  thipster/engine/I_Repository.py
  thipster/engine/I_Terraform.py
  thipster/engine/ParsedFile.py
  thipster/engine/__init__.py
  thipster/parser/__init__.py
  thipster/repository/__init__.py
  thipster/terraform/__init__.py
Labels: auth, engine, parser, repository, terraform

:memo: fix: vocab and syntax
  .readthedocs.yaml
  README.md
  setup.py
  thipster/__init__.py
  thipster/parser/__init__.py
  thipster/repository/__init__.py
Labels: documentation, parser, repository

:memo: fix: Fix syntax
  .readthedocs.yaml
Labels: none

:memo: fix(readthedocs): doc build
  .readthedocs.yaml
Labels: none

📝 feat(doc): Add readthedocs configuration (#121)
  .readthedocs.yaml
  README.md
  setup.py
  thipster/__init__.py
  thipster/auth/Google.py
  thipster/auth/__init__.py
  thipster/engine/Engine.py
  thipster/engine/I_Parser.py
  thipster/engine/I_Repository.py
  thipster/engine/I_Terraform.py
  thipster/engine/ParsedFile.py
  thipster/engine/__init__.py
  thipster/parser/__init__.py
  thipster/repository/__init__.py
  thipster/terraform/__init__.py
Labels: documentation, auth, engine, parser, repository, terraform

:green_heart: fix(release): Protection
  .github/workflows/release.yml
Labels: ci, github_actions

:green_heart: fix(token): release
  .github/workflows/release.yml
Labels: ci, github_actions

:green_heart: fix: Branch protection release (#123)
  .github/workflows/release.yml
Labels: ci, github_actions

.github/labeler.yml:

# PR labeler configuration file
ci:
- any: ['.github/**/*','!.github/ISSUE_TEMPLATE/*','!.github/PULL_REQUEST_TEMPLATE/*']
- pipelines/**/*
- .pre-commit-config.yaml

gitignore:
- .gitignore

github_actions:
- any: ['.github/**/*','!.github/ISSUE_TEMPLATE/*','!.github/PULL_REQUEST_TEMPLATE/*']

tests:
- any: ['tests/**/*']

documentation:
- docs/**/*
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- LICENSE
- README.md
- .github/ISSUE_TEMPLATE/**/*
- .github/PULL_REQUEST_TEMPLATE/**/*

auth:
- thipster/auth/**/*

cli:
- thipster/cli/**/*

engine:
- thipster/engine/**/*

parser:
- thipster/parser/**/*

parser/DSL Parser:
- thipster/parser/dsl_parser/**/*

repository:
- thipster/repository/**/*

terraform:
- thipster/terraform/**/*
