Repository THipster/THipster, pull requests merged in 2023-06, with the labels that each got.

#121 📝 feat: Add readthedocs configuration
  .readthedocs.yaml
  README.md
  setup.py
  thipster/__init__.py
  thipster/auth/Google.py
  thipster/auth/__init__.py
  thipster/engine/Engine.py
  thipster/engine/I_Parser.py
  thipster/engine/I_Repository.py
  thipster/engine/I_Terraform.py
  thipster/engine/ParsedFile.py
  thipster/engine/__init__.py
  thipster/parser/__init__.py
  thipster/repository/__init__.py
  thipster/terraform/__init__.py
Labels: documentation, engine, auth, repository, terraform, parser

#123 :green_heart: fix: Branch protection release
  .github/workflows/release.yml
Labels: ci, github_actions

#125 :green_heart: fix(token): checkout release
  .github/workflows/release.yml
Labels: ci, github_actions

#126 :memo: fix: Add final open source doc
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: documentation

#122 :bug: feat: default internal object
  tests/resources/e2e/inputs/thips/load_balancer.thips
  tests/resources/e2e/models/backend_service.json
  tests/resources/e2e/models/bucket_bad_dep_cyclic.json
  tests/test_e2e.py
  thipster/terraform/CDK.py
Labels: tests, terraform

#128 :children_crossing: feat: upgrade packaging
  demo.py
  pyproject.toml
  tests/engine/test_engine.py
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/dsl_parser/test_ast.py
  tests/parser/dsl_parser/test_lexer.py
  tests/parser/dsl_parser/test_token.py
  tests/parser/dsl_parser/test_tokenparser.py
  tests/parser/test_ParserFactory.py
  tests/parser/test_YAMLParser.py
  tests/parser/test_parsedfile.py
  tests/repository/test_github_repository.py
  tests/repository/test_local_repository.py
  tests/repository/test_resourcemodel.py
  tests/test_e2e.py
  thipster/__init__.py
  thipster/auth/__init__.py
  thipster/auth/google.py
  thipster/engine/__init__.py
  thipster/engine/engine.py
  thipster/engine/i_auth.py
  thipster/engine/i_parser.py
  thipster/engine/i_repository.py
  thipster/engine/i_terraform.py
  thipster/engine/parsed_file.py
  thipster/engine/resource_model.py
  thipster/parser/__init__.py
  thipster/parser/dsl_parser/DSLExceptions.py
  thipster/parser/dsl_parser/__init__.py
  thipster/parser/dsl_parser/ast.py
  thipster/parser/dsl_parser/exceptions.py
  thipster/parser/dsl_parser/interpreter.py
  thipster/parser/dsl_parser/lexer.py
  thipster/parser/dsl_parser/lexer_position.py
  thipster/parser/dsl_parser/parser.py
  thipster/parser/dsl_parser/token.py
  thipster/parser/dsl_parser/token_parser.py
  thipster/parser/parser_factory.py
  thipster/parser/yaml_parser.py
  thipster/repository/__init__.py
  thipster/repository/github.py
  thipster/repository/json.py
  thipster/repository/local.py
  thipster/terraform/__init__.py
  thipster/terraform/cdk.py
  thipster/terraform/exceptions.py
Labels: tests, parser/DSL Parser, engine, auth, repository, terraform, parser

#135 :sparkles: feat(engine): add tf apply
  thipster/engine/engine.py
Labels: engine

#138 :sparkles: feat: dependencies inheritance from parent attributes
  tests/resources/e2e/models/bucket_bad_dep_child.json
  tests/test_e2e.py
  thipster/engine/resource_model.py
  thipster/terraform/cdk.py
Labels: tests, engine, terraform

#141 :zap: fix: improve package imports
  README.md
  pipelines/test.py
  requirements.txt
  setup.py
  thipster/parser/parser_factory.py
  thipster/terraform/cdk.py
Labels: documentation, ci, terraform, parser

#142 :goal_net: feat: improve exception generation
  demo.py
  tests/parser/dsl_parser/test_DSLparser.py
  thipster/engine/__init__.py
  thipster/engine/exceptions.py
  thipster/parser/dsl_parser/exceptions.py
  thipster/parser/dsl_parser/interpreter.py
  thipster/parser/dsl_parser/token_parser.py
  thipster/parser/parser_factory.py
  thipster/parser/yaml_parser.py
  thipster/terraform/exceptions.py
Labels: tests, parser/DSL Parser, engine, terraform, parser

#143 :coffin: fix: clean engine output
  README.md
  tests/engine/test_engine.py
  tests/test_e2e.py
  thipster/engine/engine.py
Labels: documentation, tests, engine

#145 ✅ feat(tests): tftest
  .github/workflows/pr-handler.yml
  pipelines/test.py
  setup.py
  tests/engine/test_generation.py
  tests/resources/e2e/models/bucket.json
  tests/resources/e2e/models/global_address.json
  tests/test_e2e.py
  tests/test_tools.py
  thipster/auth/google.py
Labels: ci, tests, github_actions, auth

#149 :art: fix: improve dsl's ast code
  tests/parser/dsl_parser/test_DSLparser.py
  tests/parser/dsl_parser/test_ast.py
  tests/parser/dsl_parser/test_token.py
  tests/parser/test_ParserFactory.py
  tests/parser/test_YAMLParser.py
  tests/parser/test_parsedfile.py
  tests/repository/test_github_repository.py
  tests/repository/test_local_repository.py
  tests/repository/test_resourcemodel.py
  tests/test_e2e.py
  thipster/engine/engine.py
  thipster/engine/parsed_file.py
  thipster/engine/resource_model.py
  thipster/parser/dsl_parser/ast.py
  thipster/parser/dsl_parser/exceptions.py
  thipster/parser/dsl_parser/interpreter.py
  thipster/parser/dsl_parser/parser.py
  thipster/parser/dsl_parser/token.py
  thipster/parser/dsl_parser/token_parser.py
  thipster/repository/json.py
  thipster/terraform/cdk.py
Labels: tests, parser/DSL Parser, engine, repository, terraform, parser

#150 :goal_net: fix: catch file not found on models
  tests/repository/test_github_repository.py
  tests/repository/test_local_repository.py
  thipster/auth/google.py
  thipster/repository/exceptions.py
  thipster/repository/github.py
  thipster/repository/local.py
Labels: tests, auth, repository

#152 :memo: fix(doc): Update repository and package documentation
  .github/ISSUE_TEMPLATE/doc_update.yml
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  CONTRIBUTING.md
  README.md
  setup.py
Labels: documentation

#153 :wrench: feat: add ruff configuration
  pipelines/prhandler.py
  pyproject.toml
  setup.py
  tests/parser/dsl_parser/test_DSLparser.py
  thipster/parser/dsl_parser/exceptions.py
  thipster/parser/dsl_parser/interpreter.py
  thipster/parser/dsl_parser/parser.py
  thipster/parser/parser_factory.py
  thipster/parser/yaml_parser.py
  thipster/repository/github.py
  thipster/repository/local.py
Labels: ci, tests, parser/DSL Parser, repository, parser

#155 :sparkles: feat: allow resource creation from dependency
  tests/engine/test_generation.py
  tests/resources/e2e/models/network.json
  tests/test_e2e.py
  thipster/parser/yaml_parser.py
  thipster/terraform/cdk.py
Labels: tests, terraform, parser

#159 :memo: docs: add pep8-naming rule
  demo.py
  pipelines/base.py
  pipelines/precommit.py
  pipelines/test.py
  pyproject.toml
  tests/engine/test_engine.py
  tests/engine/test_generation.py
  tests/parser/dsl_parser/test_ast.py
  tests/parser/dsl_parser/test_dslparser.py
  tests/parser/dsl_parser/test_lexer.py
  tests/parser/dsl_parser/test_token.py
  tests/parser/test_parsedfile.py
  tests/parser/test_parserfactory.py
  tests/parser/test_yamlparser.py
  tests/repository/test_resourcemodel.py
  tests/test_tools.py
  thipster/auth/google.py
  thipster/engine/__init__.py
  thipster/engine/engine.py
  thipster/engine/exceptions.py
  thipster/engine/i_auth.py
  thipster/engine/i_parser.py
  thipster/engine/i_repository.py
  thipster/engine/i_terraform.py
  thipster/engine/parsed_file.py
  thipster/engine/resource_model.py
  thipster/parser/dsl_parser/ast.py
  thipster/parser/dsl_parser/exceptions.py
  thipster/parser/dsl_parser/interpreter.py
  thipster/parser/dsl_parser/lexer.py
  thipster/parser/dsl_parser/lexer_position.py
  thipster/parser/dsl_parser/parser.py
  thipster/parser/dsl_parser/token.py
  thipster/parser/dsl_parser/token_parser.py
  thipster/parser/parser_factory.py
  thipster/parser/yaml_parser.py
  thipster/repository/exceptions.py
  thipster/repository/json.py
  thipster/terraform/cdk.py
  thipster/terraform/exceptions.py
Labels: ci, tests, parser/DSL Parser, engine, auth, repository, terraform, parser

#160 :bug: fix: no crash on non-parsable files
  tests/parser/test_parserfactory.py
  thipster/parser/exceptions.py
  thipster/parser/parser_factory.py
  thipster/parser/yaml_parser.py
Labels: tests, parser

#171 :goal_net: fix: improve missing attribute error
  thipster/terraform/cdk.py
  thipster/terraform/exceptions.py
Labels: terraform

#172 :bug: fix: allow None in default optional values
  thipster/terraform/cdk.py
Labels: terraform

#173 :bug: fix: resource args to cdk ctx init
  thipster/engine/resource_model.py
  thipster/terraform/cdk.py
Labels: engine, terraform

#176 :bug: fix: non optional internal objects
  .gitignore
  tests/resources/e2e/models/backend_service.json
  tests/resources/e2e/models/bucket.json
  thipster/terraform/cdk.py
Labels: tests, terraform, gitignore

#177 :bug: fix: created resources list
  thipster/terraform/cdk.py
Labels: terraform

#179 :bug: fix: correct name when provided via attribute
  thipster/terraform/cdk.py
Labels: terraform

#181 :sparkles: feat: add tf auto apply
  tests/engine/test_engine.py
  thipster/engine/engine.py
  thipster/terraform/cdk.py
Labels: tests, engine, terraform

#182 :sparkles: feat: add option to choose explicit dep arg
  thipster/terraform/cdk.py
Labels: terraform

#184 :art: fix: remove comma
  thipster/terraform/cdk.py
Labels: terraform

#185 :bug: fix: set name + add to created resources
  thipster/terraform/cdk.py
Labels: terraform

#187 :bug: fix: list dependencies
  thipster/terraform/cdk.py
Labels: terraform

#186 :green_heart: fix: update ci and doc
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/codeql.yml
  .github/workflows/pr-handler.yml
  .readthedocs.yaml
  README.md
  docs/source/index.rst
Labels: documentation, ci, github_actions

#190 :bug: fix: update githubrepo with folder_name
  tests/repository/test_github_repository.py
  thipster/repository/github.py
  thipster/terraform/cdk.py
Labels: tests, repository, terraform, python

#191 :bug: fix: unmarshalled parsed values
  thipster/engine/parsed_file.py
  thipster/terraform/cdk.py
Labels: engine, terraform, python

#193 :sparkles: feat: upgrade dsl
  tests/parser/dsl_parser/test_dslparser.py
  tests/parser/dsl_parser/test_lexer.py
  thipster/parser/dsl_parser/grammar.ebnf
  thipster/parser/dsl_parser/interpreter.py
  thipster/parser/dsl_parser/lexer.py
  thipster/parser/dsl_parser/lexer_position.py
  thipster/parser/dsl_parser/token.py
  thipster/parser/dsl_parser/token_parser.py
Labels: tests, parser/DSL Parser, parser, python

#198 :bug: fix: add variable to arithmetic expr
  thipster/parser/dsl_parser/token_parser.py
Labels: parser/DSL Parser, parser, python

#200 :green_heart: fix: remove edit to pr handler
  .github/workflows/pr-handler.yml
Labels: ci, github_actions

#199 :sparkles: feat: dict in dsl list
  tests/engine/test_generation.py
  tests/parser/dsl_parser/test_dslparser.py
  tests/parser/dsl_parser/test_lexer.py
  thipster/parser/dsl_parser/grammar.ebnf
  thipster/parser/dsl_parser/lexer.py
  thipster/parser/dsl_parser/token_parser.py
Labels: tests, parser/DSL Parser, parser, python

#202 :sparkles: feat: variable definition
  tests/parser/dsl_parser/test_ast.py
  tests/parser/dsl_parser/test_dslparser.py
  thipster/parser/dsl_parser/ast.py
  thipster/parser/dsl_parser/grammar.ebnf
  thipster/parser/dsl_parser/interpreter.py
  thipster/parser/dsl_parser/lexer.py
  thipster/parser/dsl_parser/token_parser.py
Labels: tests, parser/DSL Parser, parser, python

#201 :bug: fix(terraform): fix terraform apply command and add test
  tests/engine/test_engine.py
  tests/test_e2e.py
  tests/test_tools.py
  thipster/engine/engine.py
  thipster/engine/i_terraform.py
  thipster/helpers.py
  thipster/terraform/cdk.py
Labels: tests, engine, terraform, python

#203 :sparkles: feat: output block
  tests/engine/test_generation.py
  tests/parser/dsl_parser/test_ast.py
  tests/parser/dsl_parser/test_lexer.py
  tests/test_tools.py
  thipster/engine/engine.py
  thipster/engine/parsed_file.py
  thipster/parser/dsl_parser/ast.py
  thipster/parser/dsl_parser/grammar.ebnf
  thipster/parser/dsl_parser/interpreter.py
  thipster/parser/dsl_parser/lexer.py
  thipster/parser/dsl_parser/parser.py
  thipster/parser/dsl_parser/token.py
  thipster/parser/dsl_parser/token_parser.py
  thipster/parser/parser_factory.py
  thipster/terraform/cdk.py
Labels: tests, parser/DSL Parser, engine, terraform, parser, python
