Repository THipster/THipster, pull requests merged in 2023-08, with the labels that each got.

#225 :green_heart: fix(ci): Update dagger
  .github/workflows/pr-handler.yml
  pipelines/automated_tests.py
  pipelines/precommit.py
  requirements/dagger-requirements.txt
  requirements/requirements-dev.txt
Labels: ci, dependencies, github_actions, python

#222 :recycle: refactor: use correct functions + rename according to grammar
  tests/parser/dsl_parser/test_dslparser.py
  thipster/parser/dsl_parser/grammar.ebnf
  thipster/parser/dsl_parser/token_parser.py
Labels: tests, parser/DSL Parser, parser, python

#224 :green_heart: feat: disable stale issues
  .github/workflows/stale-issue-pr-closer.yml
Labels: ci, github_actions

#223 :green_heart: feat(ci): Add coverage status report
  .github/workflows/pr-handler.yml
  README.md
  pipelines/automated_tests.py
  requirements/requirements-test.txt
Labels: documentation, ci, dependencies, github_actions, python

#229 :recycle: fix: use engine properties
  tests/engine/test_engine.py
  thipster/engine/engine.py
  thipster/engine/exceptions.py
Labels: tests, engine, python

#219 :bug: fix: allow unusual spacing + remove eof newline
  tests/parser/dsl_parser/test_dslparser.py
  tests/parser/dsl_parser/test_lexer.py
  thipster/parser/dsl_parser/lexer.py
  thipster/parser/dsl_parser/token_parser.py
Labels: tests, parser/DSL Parser, parser, python

#230 :bug: fix(ci): Add missing coveralls parameters hidden by dagger
  .github/workflows/pr-handler.yml
  pipelines/automated_tests.py
Labels: ci, github_actions, python

#231 :heavy_minus_sign: fix: remove python-terraform
  requirements.txt
Labels: dependencies

#232 :white_check_mark: feat: add tests for generators
  tests/engine/test_parsedfile.py
  tests/engine/test_resourcemodel.py
  thipster/engine/parsed_file.py
  thipster/engine/resource_model.py
Labels: tests, engine, python

#233 :recycle: refactor: clean character escaping
  tests/parser/dsl_parser/test_lexer.py
  thipster/parser/dsl_parser/lexer.py
  thipster/parser/dsl_parser/lexer_position.py
Labels: tests, parser/DSL Parser, parser, python

#238 :white_check_mark: feat: change GitHub tests branch
  tests/repository/test_github_repository.py
Labels: tests, python
